.content-all {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background: #ffffff;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.05);
}

.content-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
  background: none;
  /* border: 1px solid black; */
}

.icon_robert {
  width: 50px;
  height: 50px;
}

.fazz {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  padding-left: 12px;
  color: #6379f4;
}

.content-head-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 1.3rem; */
}

.content_profile {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.content-robert {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  align-items: flex-start;
  padding-right: 30px;
}

.text-hello {
  display: none;
}

.name-robert {
  font-family: 'Nunito Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 31px;
  padding-right: 20px;
}

.phone-number {
  font-family: 'Nunito Sans';
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #3a3d42;
}

.icon_bell {
  font-size: 25px;
  cursor: pointer;
}
.icon_bell:hover {
  color: #6379f4;
}

@media only screen and (max-width: 428px) {
  .fazz {
    display: none;
  }

  .icon_robert {
    width: 60px;
    height: 60px;
  }

  .content-head-right {
    width: 100%;
  }

  .text-hello {
    display: block;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: white;
  }

  .phone-number {
    display: none;
  }
  .content-left {
    padding: 20px 0px;
    background: none;
  }
  .content-all {
    background-color: #6379f4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .name-robert {
    color: white;
  }
  .icon_bell:hover {
    color: white;
  }
}
